#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

configure:

build:

clean:
	dh_clean

DESTDIR ?= $(CURDIR)/debian/rvm

export rvm_selfcontained=1
export rvm_ignore_rvmrc=1
export rvm_path=/usr/lib/rvm/
export rvm_man_path=/usr/share/man
export rvm_prefix=/usr/lib/rvm

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	
	rm -rf /usr/lib/rvm
	mkdir -p /usr/lib/rvm/src
	git clone --depth 1 git://github.com/wayneeseguin/rvm.git /usr/lib/rvm/src/rvm
	echo "bundler" >> /usr/lib/rvm/src/rvm/gemsets/global.gems
	cd /usr/lib/rvm/src/rvm && ./install
	
	mkdir -p /usr/lib/rvm/debian/bin/
	ln -sf /usr/lib/rvm/debian /usr/lib/rvm/rubies/default
	ln -sf /usr/bin/ruby1.8 /usr/lib/rvm/debian/bin/ruby
	ln -sf /usr/bin/irb1.8  /usr/lib/rvm/debian/bin/irb
	ln -sf /usr/bin/ri1.8   /usr/lib/rvm/debian/bin/ri
	ln -sf /usr/bin/rdoc1.8 /usr/lib/rvm/debian/bin/rdoc
	ln -sf /usr/bin/gem1.8  /usr/lib/rvm/debian/bin/gem
	
	mkdir -p $(DESTDIR)/usr/bin/ $(DESTDIR)/usr/lib/ruby/1.8/ $(DESTDIR)/etc/bash_completion.d $(DESTDIR)/usr/share/man/man1/
	cp /usr/bin/rake $(DESTDIR)/usr/bin/rake1.8
	sed -i -e 's,/usr/bin/env ruby,/usr/bin/ruby1.8,' $(DESTDIR)/usr/bin/rake1.8
	cp -R /usr/lib/ruby/1.8/rake* $(DESTDIR)/usr/lib/ruby/1.8/
	cp /usr/share/man/man1/rake.1.gz $(DESTDIR)/usr/share/man/man1/
	cp /etc/bash_completion.d/rake $(DESTDIR)/etc/bash_completion.d/rake
	ln -sf /usr/bin/rake1.8  /usr/lib/rvm/debian/bin/rake
	
	#bash -c 'source /usr/lib/rvm/scripts/rvm && rvm install 1.8.7'
	#bash -c 'source /usr/lib/rvm/scripts/rvm && rvm install 1.9.2'
	bash -c 'source /usr/lib/rvm/scripts/rvm && rvm install ree'
	#bash -c 'source /usr/lib/rvm/scripts/rvm && rvm install jruby'
	
	mkdir -p $(DESTDIR)/usr/lib
	mv /usr/lib/rvm $(DESTDIR)/usr/lib/
	
	mkdir -p $(DESTDIR)/usr/bin
	cp usr/bin/rvm $(DESTDIR)/usr/bin/rvm
	for bin in rake ruby irb rdoc ri jruby bundle; do \
		ln -sf /usr/lib/rvm/rubies/default/bin/$$bin $(DESTDIR)/usr/bin/$$bin; \
	done
	
	mkdir -p $(DESTDIR)/etc/
	cp etc/rvmrc $(DESTDIR)/etc/
	cp etc/gemrc $(DESTDIR)/etc/
	
	mkdir -p /usr/lib/rvm/config/ /usr/lib/rvm/hooks/
	cp usr/lib/rvm/config/system /usr/lib/rvm/config/
	cp usr/lib/rvm/hooks/after_use /usr/lib/rvm/hooks/
	
	mkdir -p $(DESTDIR)/usr/share/man/man1/
	cp $(DESTDIR)/usr/lib/rvm/src/rvm/man/man1/*.gz $(DESTDIR)/usr/share/man/man1/

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installman
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps -Xjruby -Xdistro/runtime
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
